<requestHeaderAuthentication>
  <id>50954fda:14f9082cbde:-8000</id>
  <name>nginx_sso</name>
  <className>org.geoserver.security.filter.GeoServerRequestHeaderAuthenticationFilter</className>
  <roleSource class="org.geoserver.security.config.PreAuthenticatedUserNameFilterConfig$PreAuthenticatedUserNameRoleSource">RoleService</roleSource>
  <rolesHeaderAttribute>remote-user-roles</rolesHeaderAttribute>
  <roleServiceName>dpaw_roles</roleServiceName>
  <principalHeaderAttribute>x-email</principalHeaderAttribute>
</requestHeaderAuthentication>

